<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/security/login.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="containers" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Please Sign In</h2>
        <form action="login" method="post">
        <input required type="text" name="username" placeholder="username"/>
        <input required type="password" name="password" placeholder="password"/>
        <input class="buttons" type="submit" value="log in">
        </form>
        <a class="btn btn-outline-success buttons" href="/admin/auth/new-admin">sign up</a>
        <h2>&nbsp;</h2>
    </div>
</div>

</body>
</html>