<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Brogrammers.uz | Dasturlash kurslari</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
  <link rel="stylesheet" th:href="@{/css/templatemo-grad-school.css}">
  <link rel="stylesheet" th:href="@{/css/owl.css}">
  <link rel="stylesheet" th:href="@{/css/lightbox.css}">
  <link rel="stylesheet" th:href="@{/css/new.css}">
  <link href='https://unpkg.com/boxicons@2.1.3/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/mycss.css}">
  <!--

TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<!--th:fragment="navbar"-->
<!--header-->
<header class="main-header clearfix" role="header" th:fragment="navbar">
  <div class="logo">
    <a href="#"><em>Bro</em>grammers</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      <li><a href="/">Bosh sahifa</a></li>
      <li><a href="/admin/auth/candidates">Candidates</a>
      </li>
      <li><a href="/admin/auth/new-course">Courses</a></li>
      <!-- <li><a href="#section5">Video</a></li> -->
      <li><a href="/admin/auth/new-admin">create admin</a></li>
      <li><a href="/logout"><img width="35px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu1QjaR9Z-L5vEA7gZLuI0LHL6ljBE5Haeq4NwqQm7yP7yaVSA5bop2yKvfmw711gPOOE&usqp=CAU" class="rounded-circle"></a></li>

    </ul>

  </nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</header>



<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<!--<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/owl-carousel.js}"></script>
<script th:src="@{/js/lightbox.js}"></script>
<script th:src="@{/js/tabs.js}"></script>
<script th:src="@{/js/video.js}"></script>
<script th:src="@{/js/slick-slider.js}"></script>
<script th:src="@{/js/custom.js}"></script>
&lt;!&ndash;<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    &lt;!&ndash;$('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
      if ($(e.target).hasClass('external')) {
        return;
      }
      e.preventDefault();
      $('#menu').removeClass('active');
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });&ndash;&gt;
  </script>&ndash;&gt;-->
</body>
</html>